{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Projects</h1>
<div class="row">
{% for project in projects%}
    <div class="col-md-4">
        <div class="card mb-2">
            <img src="{{ project.image.url }}" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.description | slice:":200"}}.....</p>
                <a href="{% url 'project_detail' project.pk %}" style="padding: 8px" class="btn-primary">Read More</a>
            </div>

        </div>
    </div>
{% endfor %}

</div>

</div>
{% endblock %}